.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

mat-card-header {
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;

    mat-card-title {
        font-size: 24px;
        margin-bottom: 8px;
    }
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
        width: 100%;
    }
}

mat-card-footer {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 10px;

    p {
        font-size: 14px;
        color: #666;
    }

    a {
        color: #3f51b5;
        text-decoration: none;
        font-weight: 500;
    }
}