.title-row {
    display: flex;
    align-items: center;
}

.groups-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filter-field {
    width: 100%;
}

.table-container {
    overflow: auto;
}