@use '@angular/material' as mat;
@use 'material-theme' as theme;
@use 'variables' as *;

// Apply the theme
html {
  @include theme.apply-theme();
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-theme-color(theme.$theme, background);
  color: mat.get-theme-color(theme.$theme, on-background);
}