@use 'sass:map';
@use '@angular/material' as mat;
@use './variables' as *;

@mixin responsive($breakpoint) {
    @if $breakpoint ==xs {
        @media (max-width: $breakpoint-sm - 1) {
            @content;
        }
    }

    @else if $breakpoint ==sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
            @content;
        }
    }

    @else if $breakpoint ==md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
            @content;
        }
    }

    @else if $breakpoint ==lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1) {
            @content;
        }
    }

    @else if $breakpoint ==xl {
        @media (min-width: $breakpoint-xl) {
            @content;
        }
    }
}