// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;

// Colors
$primary-color: #3f51b5;
$accent-color: #ff4081;
$warn-color: #f44336;
